@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(
  https://fonts.googleapis.com/css?family=Open+Sans:400,
  300,
  600,
  700
);

html,
body {
  background: url("https://static.vecteezy.com/system/resources/previews/000/106/171/non_2x/free-chinese-clouds-vector-illustration.jpg");
}
.container-fluid {
  font-family: "Varela Round", sans-serif;
}

.profile {
  margin-top: 15%;
  text-align: center;
}

.name {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  color: black;
}

.customTabPane {
  background: #e9ecef;
  box-shadow: 0px 0px 10px 0px;
  margin-top: 5%;
}

.nav-link {
  cursor: pointer;
}

.nav-link.active {
  background: #494949 !important;
  color: #868a83 !important;
  border-color: #494949 !important;
  border-radius: 25 !important;
}

.jumbotron {
  background: #494949 !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

#root {
  background: url("https://static.vecteezy.com/system/resources/previews/000/106/171/non_2x/free-chinese-clouds-vector-illustration.jpg");
}

.profileImage {
  /*box-shadow: 0px 0px 10px 3px;*/
  border-radius: 25% !important;
  width: 30%;
  border-style: solid;
  margin-bottom: 2%;
}

.skills {
  color: white;
}

.skills > .row {
  margin-top: 3%;
}

.table td {
  color: #dee2e6;
}

.experience,
.education {
  color: #e9ecef;
}

.education > .row,
.experience > .row {
  padding: 1rem;
}

.osContrib {
  color: #e9ecef;
}

.about {
  color: #e9ecef;
}

.about > .row {
  margin-left: 20%;
  padding: 1rem;
}

.githubProjects {
  color: #e9ecef;
}
